<div class="mt-5 mb-5 pb-5 px-2">
    <div class="container">
        <div class="d-flex">
            <p class="h5 fw-bolder text-lightestslate"><span class="text-green code-font">01.</span> About me</p><span
                class="text-slate ms-2">_____________________________________</span>
        </div>
        <div class="row text-green code-font">
            <div class="col-12 col-md-6 mb-4 mb-md-0 mt-5">
                <div class="about-description">
                    <div class="mt-2">
                        <p class="text-lightestslate">
                            In my <span class="text-green">+3 years as a developer</span>, I seek to train every day. I
                            have worked writing <span class="text-green"> unit tests for Solidity (Hardhat)
                                smart-contract,
                                performing
                                continuous integration</span>, and covering backend developer roles with ExpressJS and
                            Angular
                            I
                            have with teams having empathy, exercising motivation to partners, and setting plans and
                            goals together.
                            My skills also include implementing system improvements, optimizing sites, standardizing
                            patterns, and
                            suggesting and executing ideas that add value to the project I'm working on.
                            Some of the technologies that I have trained and worked on include (but are not limited to):
                        </p>
                    </div>
                    <ul class="skills-list" data-aos="fade-up">
                        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span
                                class="underline">Angular </span></li>
                        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span
                                class="underline">HTML
                                &amp; (S)CSS </span></li>
                        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span
                                class="underline">NodeJS,ExpressJS
                            </span></li>
                        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span
                                class="underline">Python, Flask & Django
                            </span></li>
                        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span
                                class="underline">JavaScript, TypeScript </span></li>
                        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span
                                class="underline">Bootstrap, Material, Material Design Bootstrap (MDB) </span></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                <div class="about-img-container">
                    <a class="btn btn-outline-transparent" href="https://github.com/Operaconga14" target="_blank">
                        <i class="bi-bricks bi icon-bigger text-green"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
