<nav class="navbar bg-dark text-white navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand text-primary-color" [routerLink]="['/']"><i class="bi bi-0-circle w-100"></i></a>
        <div class="d-flex">
            <a class="text-white nav-link me-2" [routerLink]="[ '/']"><small class="text-primary-color">01.</small>
                Home</a>
            <a class="text-white nav-link me-2" [routerLink]="[ '/about']"><small class="text-primary-color">02.</small>
                About</a>
            <a class="text-white nav-link me-2" [routerLink]="[ '/projects']"><small class="text-primary-color">03.</small>
                Projects</a>
            <a class="text-white nav-link me-2" [routerLink]="[ '/contact']"><small class="text-primary-color small">04.</small>
                Contact</a>
        </div>
    </div>
</nav>
