<nav
    class="navbar navbar-expand-lg navbar-dark justify-content-between header-background text-white justify-content-between ">
    <div class="container-fluid">
        <a [routerLink]="[ '' ]" class="text-white nav-brand text-decoration-none">
            <h4 class="fw-bolder">{{title}}</h4>
        </a>
        <!-- toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Offcanvas NavBar -->
        <div class="d-flex">
            <div class="offcanvas offcanvas-end header-background text-white" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">{{title}}</h5>
                    <button type="button" class="btn-close btn-close-white text-white ms-5 ps-5"
                        data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngFor="let link of nav_detail">
                        <li class="nav-item">
                            <a class=" nav-link me-2 a-color" href="{{link.url}}"><small
                                    class="text-green code-font fw-bold me-2">{{link.number}}.</small>{{link.name}}</a>
                        </li>
                    </ul>
                    <a class="btn btn-outline-transparent px-5 pt-2 text-green border border-green code-font"
                        style="font-size: 12px;"
                        href="https://drive.google.com/file/d/1EfqjAk3ojjL8fB3UDABYM8XFSKLZSXBJ/view?usp=sharing"
                        target="_blank">Resume</a>
                </div>
            </div>
        </div>
    </div>
</nav>
