<nav class="navbar header-background text-white navbar-expand-lg navbar-dark justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand text-green" [routerLink]="['/']">
            <div class="logo-big">
                <i class="bi bi-boxes w-100 ms-1"></i>
            </div>
        </a>
        <div class="d-flex">
            <a class=" nav-link me-2 a-color" href="#about"><small
                    class="text-green code-font fw-bold">01.</small>About</a>
            <a class=" nav-link me-2 a-color" href="#experience"><small
                    class="text-green code-font fw-bold">02.</small>Experience</a>
            <a class=" nav-link me-2 a-color" href="#projects"><small
                    class="text-green code-font fw-bold">03.</small>Projects</a>
            <a class=" nav-link me-2 a-color" href="#contact"><small
                    class="text-green small code-font fw-bold">04.</small>Contact</a>
        </div>
    </div>
</nav>
