<!-- Projects Section -->
<section id="projects" class="section bg-light mb-0">
    <div class="container">
        <h2 class="text-center mb-5">Projects</h2>
        <h3 class="text-center mb-3">Featured Projects</h3>

        <div class="row g-4">
            <div class="col-md-6" *ngFor="let project of projects.featureProject">
                <div class="card project-card h-100">
                    <img [src]="project.image" class="card-img-top" [alt]="project.title">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text">{{project.description}}</p>
                        <div class="mb-3">
                            <span class="badge bg-primary me-2"
                                *ngFor="let tech of project.technologies">{{tech}}</span>
                        </div>
                        <div class="d-flex gap-2">
                            <a [href]="project.demo" class="btn btn-primary" target="_blank">Live Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Projects Section -->
<section id="projects" class="section bg-light mt-0">
    <div class="container">
        <h2 class="text-center mb-3">Personal Projects</h2>
        <div class="row g-4">
            <div class="col-md-6" *ngFor="let project of projects.personalProject">
                <div class="card project-card h-100">
                    <img [src]="project.image" class="card-img-top" [alt]="project.title">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text">{{project.description}}</p>
                        <div class="mb-3">
                            <span class="badge bg-primary me-2"
                                *ngFor="let tech of project.technologies">{{tech}}</span>
                        </div>
                        <div class="d-flex gap-2">
                            <a [href]="project.demo" class="btn btn-primary" target="_blank">Live Demo</a>
                            <a [href]="project.github" class="btn btn-outline-secondary" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
