<div class="mt-5 mb-5 pb-5 px-2">
    <div class="container">
        <div class="d-flex">
            <p class="h5 fw-bolder text-lightestslate"><span class="text-green code-font">03.</span> Projects</p><span
                class="text-slate ms-2">_____________________________________</span>
        </div>

        <div class="mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12 mt-5">
                    <p class="smallest text-green m-0 code-font">Featured Project</p>
                    <p class="h3 text-lightestslate fw-bold lh-1">ZSwap</p>
                    <p class="text-lightestslate code-font lh-5">
                        A Next Generation Crypto Swapping System application made from scratch with Angular,
                        Solidiy (Hardhat), Wallet Connect. It also has configurations for swapping your Coins
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12">
                    <i class="bi bi-filetype-js text-green icon-big m-0"></i>
                </div>
            </div>
        </div>
    </div>
</div>
