<div class="mt-5 mb-5 pb-5 px-2">
    <div class="container">
        <div class="d-flex">
            <p class="h5 fw-bolder text-lightestslate"><span class="text-green code-font">03.</span> Projects</p><span
                class="text-slate ms-2">_____________________________________</span>
        </div>

        <div class="mt-3">
            <div class="row" *ngFor="let project of featuredProjects">
                <div class="col-lg-4 col-md-5 col-sm-12">
                    <i class="{{project.icon}} text-green icon-big m-0"></i>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 mt-5">
                    <p class="smallest text-green m-0 code-font">Featured Project</p>
                    <p class="h3 text-lightestslate fw-bold lh-1">{{project.name}}</p>
                    <p class="text-lightestslate code-font lh-5">{{project.description}}</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="mt-5 mb-5 pb-5 px-2">
    <div class="container">
        <div class="d-flex">
            <p class="h5 fw-bolder text-lightestslate">More Personal Projects</p><span
                class="text-slate ms-2">_____________________________________</span>
        </div>

        <div class="mt-3">
            <div class="row" *ngFor="let personal of personalProjects">
                <div class="col-lg-4 col-md-5 col-sm-12 mt-5">
                    <p class="smallest text-green m-0 code-font">Featured Project</p>
                    <p class="h3 text-lightestslate fw-bold lh-1">{{personal.name}}</p>
                    <p class="text-lightestslate code-font lh-5">{{personal.description}}</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 pt-4">
                    <img class="img-fluid mt-5" src="{{personal.img}}" alt="qr-Code-Gen" width="500">
                </div>
            </div>
        </div>
    </div>
</div>
