<div class="mb-5 pb-5">
    <div class="text-green mt-5">
        <div class="container">
            <p class="small">Hello! My name is</p>
            <h1 class="banner-title">
                Amire Joseph. <br>
                FRONT-END & BACK-END Developer
            </h1>
            <div class="e-font mt-5">
                <p class="text-lightslate e-font" style="line-height: 1.7em;">
                    I have <span class="text-green">+3 years of experience developing WebApp interfaces
                        (Website,
                        Telegram App, Blockchain)</span>, <br /> bots, and technological solutions to make the web a
                    better
                    place. <br />I am dedicated to writing and refactoring clean, reusable, and <br />scalable code in
                    <span class="text-green">Angular, NodeJS and ExpressJS</span> and sometimes <br /> in <span
                        class="text-green">Python</span> applying good practices and development standards.
                </p>
            </div>

            <div class="mt-5 mb-5">
                <a class="btn btn-outline-transparent border-green text-green py-2 px-5 code-font mt-5"
                    style="font-size: 12px;" href="mailto:amirejoseph83@gmail.com" target="_blank">Get in touch</a>
            </div>
        </div>
    </div>
</div>



<!-- slider_area_start -->
<div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="shap_pattern d-none d-lg-block">
                        <img src="img/about/grid.png" alt="">
                </div>
                <div class="social_links">
                        <ul>
                                <li><a href="#"> <i class="bi bi-facebook"></i> </a></li>
                                <li><a href="#"> <i class="bi bi-twitter"></i> </a></li>
                                <li><a href="#"> <i class="bi bi-instagram"></i> </a></li>
                        </ul>
                </div>
                <div class="container">
                        <div class="row align-items-center">
                                <div class="col-xl-12">
                                        <div class="slider_text text-center">
                                                <h3>
                                                        Hello This is Joseph
                                                </h3>
                                                <span>Full Stack Developer</span>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!-- slider_area_end -->
