<!-- portfolio_area -->
<div class="portfolio_area portfolio_bg_1">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="section_title white_text text-center">
                                        <span>Portfolio</span>
                                        <h3>My Tech Stack & <br> Some Awesome Projects</h3>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!--/ portfolio_area -->

<!-- portfolio_image_area -->
<div class="portfolio_image_area">
        <div class="container">
                <div class="row">
                        <!-- Tech Stack -->
                        <div class="col-xl-5 col-md-5">
                                <div class="single_Portfolio rounded">
                                        <div class="portfolio_thumb">
                                                <img src="img/portfolio/1.png" alt="Tech Stack">
                                        </div>
                                        <a href="img/portfolio/1.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title">
                                                        <h3>My Tech Stack</h3>
                                                        <p class="text-white">JavaScript, Python, TypeScript, Solidity,
                                                                Node.js,
                                                                Express.js, Angular,
                                                                Sequelize, Cloudinary</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Mugivies Project -->
                        <div class="col-xl-7 col-md-7">
                                <div class="single_Portfolio rounded">
                                        <div class="portfolio_thumb">
                                                <img src="/img/portfolio/2.png" alt="">
                                        </div>
                                        <a href="/img/portfolio/5.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title px-2">
                                                        <h3>My Portfolio Site</h3>
                                                        <p class="text-white">Personal portfolio website
                                                                showcasing my
                                                                skills, experience,
                                                                and projects to potential clients and employers.
                                                        </p>
                                                        <p class="text-white"><strong>Tech Stack:</strong>
                                                                HTML/SCSS, Bootstrap
                                                                Typescript, Angular,
                                                                Python</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Bookstore Project -->
                        <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_Portfolio rounded">
                                        <div class="portfolio_thumb img-fluid">
                                                <img src="/img/portfolio/3.png">
                                        </div>
                                        <a href="/img/portfolio/3.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title px-2">
                                                        <h3>Color Genfile for VSCode & NPM CLI</h3>
                                                        <p class="text-white">A tool for generating
                                                                color-related files
                                                                in CSS, SCSS, or
                                                                format. Customizable color palette
                                                                generation for
                                                                web projects.</p>
                                                        <p class="text-white"><strong>Tech Stack:</strong>
                                                                JavaScript, Typescript,
                                                                Node.js, VSCode
                                                                Extension API, NPM CLI</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Vacancy Management System -->
                        <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_Portfolio rounded">
                                        <div class="portfolio_thumb">
                                                <img src="/img/portfolio/4.png" alt="">
                                        </div>
                                        <a href="/img/portfolio/4.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title px-2">
                                                        <h3>QR Code Generator</h3>
                                                        <p class="text-white">Rebuilding a customizable QR code
                                                                generator for creating QR
                                                                codes for URLs, emails, and other data types.
                                                        </p>
                                                        <p class="text-white"><strong>Tech Stack:</strong>
                                                                Python,
                                                                HTML/SCSS, Typescript,
                                                                Bootstrap
                                                                Angular</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Custom API Services -->
                        <div class="col-xl-4 col-md-12 col-lg-4">
                                <div class="single_Portfolio rounded">
                                        <div class="portfolio_thumb">
                                                <img src="/img/portfolio/5.png" alt="">
                                        </div>
                                        <a href="/img/portfolio/5.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title px-2">
                                                        <h3>AI Content Generator</h3>
                                                        <p class="text-white">AI-powered content generation tool
                                                                for
                                                                blogs, social media
                                                                posts, and more, helping marketers and writers
                                                                create
                                                                content quickly.</p>
                                                        <p class="text-white"><strong>Tech Stack:</strong>
                                                                Python, AI/ML
                                                                Libraries
                                                                (Hugging Face API), FastApi</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <!-- More Portfolio Button -->
                <div class="row">
                        <div class="col-xl-12">
                                <div class="more_portfolio text-center">
                                        <a class="line_btn btn" [routerLink]="[ '/', 'projects' ]">More Projects</a>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!--/ portfolio_image_area -->
