<!-- portfolio_area -->
<div class="portfolio_area portfolio_bg_1">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="section_title white_text text-center">
                                        <span>Portfolio</span>
                                        <h3>My Tech Stack & <br> Some Awesome Projects</h3>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!--/ portfolio_area -->

<!-- portfolio_image_area -->
<div class="portfolio_image_area">
        <div class="container">
                <div class="row">
                        <!-- Tech Stack -->
                        <div class="col-xl-5 col-md-5">
                                <div class="single_Portfolio">
                                        <div class="portfolio_thumb">
                                                <img src="img/portfolio/1.png" alt="Tech Stack">
                                        </div>
                                        <a href="img/portfolio/1.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title">
                                                        <h3>My Tech Stack</h3>
                                                        <p class="text-white">JavaScript, TypeScript, Node.js,
                                                                Express.js, Angular,
                                                                Sequelize, MySQL, MariaDB, Cloudinary</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Mugivies Project -->
                        <div class="col-xl-7 col-md-7">
                                <div class="single_Portfolio">
                                        <div class="portfolio_thumb">
                                                <img src="img/portfolio/2.png" alt="Mugivies">
                                        </div>
                                        <a href="img/portfolio/2.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title">
                                                        <h3>Mugivies</h3>
                                                        <p class="text-white">An all-in-one music hub for musicians and
                                                                music lovers to
                                                                find gigs, connect, and explore the music scene.</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Bookstore Project -->
                        <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_Portfolio">
                                        <div class="portfolio_thumb">
                                                <img src="img/portfolio/3.png" alt="Bookstore">
                                        </div>
                                        <a href="img/portfolio/3.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title">
                                                        <h3>Bookstore</h3>
                                                        <p class="text-white">A platform where users can sell books and
                                                                receive payments
                                                                via Square, with a 1% service fee.</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Vacancy Management System -->
                        <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_Portfolio">
                                        <div class="portfolio_thumb">
                                                <img src="img/portfolio/4.png" alt="Vacancy System">
                                        </div>
                                        <a href="img/portfolio/4.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title">
                                                        <h3>Vacancy Management System</h3>
                                                        <p class="text-white">A job listing system that allows users to
                                                                create and manage
                                                                vacancies with deadlines.</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Custom API Services -->
                        <div class="col-xl-4 col-md-12 col-lg-4">
                                <div class="single_Portfolio">
                                        <div class="portfolio_thumb">
                                                <img src="img/portfolio/5.png" alt="API Services">
                                        </div>
                                        <a href="img/portfolio/5.png" class="popup popup-image"></a>
                                        <div class="portfolio_hover">
                                                <div class="title">
                                                        <h3>Custom API Services</h3>
                                                        <p class="text-white">Designed RESTful APIs for various
                                                                applications, including
                                                                authentication, file uploads, and e-commerce solutions.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <!-- More Portfolio Button -->
                <div class="row">
                        <div class="col-xl-12">
                                <div class="more_portfolio text-center">
                                        <a class="line_btn btn" [routerLink]="[ '/', 'portfolio' ]">More Projects</a>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!--/ portfolio_image_area -->
