<!-- service_area  -->
<div class="service_area">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="section_title text-center mb-65">
                                        <span>Service Provided</span>
                                        <h4 class="fs-3 fw-bold">Building websites, optimizing SEO,<br>
                                                and creating digital experiences that drive growth.</h4>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-xl-4 col-md-4">
                                <div class="single_service text-center">
                                        <div class="icon">
                                                <img src="img/svg_icon/1.svg" alt="">
                                        </div>
                                        <h3>Web Development</h3>
                                        <p>Developing fast, secure, and scalable web applications using modern
                                                frameworks and technologies.</p>
                                </div>
                        </div>
                        <div class="col-xl-4 col-md-4">
                                <div class="single_service text-center">
                                        <div class="icon">
                                                <img src="img/svg_icon/2.svg" alt="">
                                        </div>
                                        <h3>Backend Development</h3>
                                        <p>Designing and optimizing server-side logic, databases, and APIs for seamless
                                                application performance.</p>
                                </div>
                        </div>
                        <div class="col-xl-4 col-md-4">
                                <div class="single_service text-center">
                                        <div class="icon">
                                                <img src="img/svg_icon/3.svg" alt="">
                                        </div>
                                        <h3>API Development & Integration</h3>
                                        <p>Building RESTful APIs to connect services and enhance application
                                                functionality.</p>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!--/ service_area  -->
