/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './variables.scss';


:root {
    --Navy: #0a192f;
    --LightNavy: #112240;
    --LightestNavy: #303C55;
    --Slate: #8892b0;
    --LightSlate: #a8b2d1;
    --LightestSlate: #ccd6f6;
    --White: #e6f1ff;
    --Green: #64ffda;
    --GreenOpacity: #64ffda12;
    --MainFont: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
    --CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;

}

body {
    background-color: var(--Navy);
}

.banner-title {
    font-size: 75px;
    font-weight: 600;
    color: white;
    background: linear-gradient(120deg, #50efb5, #8ff4ca, #7e57c2, #0087f2, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header-background {
    background-color: var(--Navy);
}

.footer-background {
    background-color: var(--Navy);
}

// Text Color

.text-green {
    color: var(--Green);
}

.text-slate {
    color: var(--Slate);
}

.text-lightestslate {
    color: var(--LightestSlate);
}

.text-lightslate {
    color: var(--LightSlate);
}

.text-lightestnavy {
    color: var(--LightestNavy);
}

.bg-primary-color {
    background-color: var(--Green);
}

.border-green {
    border-color: var(--Green) !important;
}

.code-font {
    font-family: var(--CodeFont);
}

.e-font {
    font-family: var(--MainFont);
}


.a-color {
    color: var(--Slate);
}

.logo-big {
    font-size: 45px;
}

.icon-bigger {
    font-size: 350px;
}

.icon-big {
    font-size: 250px;
}

.smallest {
    font-size: 11px;
}

input, .form-control :focus {
    color: var(--Green) !important;
}
