/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';


:root {
    --primary-default-color: #64ffda;
}

body {
    background-color: #252525;
}

.text-primary-color {
    color: var(--primary-default-color);
}

.bg-primary-color {
    background-color: var(--primary-default-color);
}

.border-primary-color {
    border-color: var(--primary-default-color) !important;
}
